# Working with Pandas

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np

## Creating a series

In [5]:
s=pd.Series([1,2,3,4,5,6,7,8,np.nan,10,11])
s

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      NaN
9     10.0
10    11.0
dtype: float64

In [17]:
s1=pd.Series([1,2,3,4,5,6,7])
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [8]:
s1=pd.Series([1,2,3,4,5,6,7],index=['a','b','c','d','e','f','g'])
s1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [11]:
data={'Data':55,'Warehousing':75,'Mining':85}

In [12]:
s2=pd.Series(data)
print(s2)

Data           55
Warehousing    75
Mining         85
dtype: int64

In [13]:
print(s1.mean)

<bound method NDFrame._add_numeric_operations.<locals>.mean of a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64>

In [16]:
print(s2.mean)

<bound method NDFrame._add_numeric_operations.<locals>.mean of Data           55
Warehousing    75
Mining         85
dtype: int64>

In [22]:
print(s1>s1.mean())

0    False
1    False
2    False
3    False
4     True
5     True
6     True
dtype: bool

In [21]:
print(s1.mean() > s2.mean())

False

## Creating a dataframe

In [33]:
df=pd.DataFrame({'Subject':pd.Series(['English','Maths','Science','Social']),'Marks':pd.Series([99,88,73,87])})
df

   Subject  Marks
0  English     99
1    Maths     88
2  Science     73
3   Social     87

In [35]:
df['Faculty']=pd.Series(['A','B','C','D'])
df

   Subject  Marks Faculty
0  English     99       A
1    Maths     88       B
2  Science     73       C
3   Social     87       D

In [38]:
s2=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print(s2)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [39]:
print(s2.mean)

<bound method NDFrame._add_numeric_operations.<locals>.mean of a    10
b    20
c    30
d    40
e    50
dtype: int64>

In [40]:
print(s2.median)

<bound method NDFrame._add_numeric_operations.<locals>.median of a    10
b    20
c    30
d    40
e    50
dtype: int64>

In [44]:
print(s2>s2.median())

a    False
b    False
c    False
d     True
e     True
dtype: bool

In [45]:
print(s2.std)

<bound method NDFrame._add_numeric_operations.<locals>.std of a    10
b    20
c    30
d    40
e    50
dtype: int64>

In [46]:
print(s2.var)

<bound method NDFrame._add_numeric_operations.<locals>.var of a    10
b    20
c    30
d    40
e    50
dtype: int64>